.announce-promo {
    height: 490px;
    width: 100%;
    border-radius: 20px;
}

.carousel-control-prev-icon {
    background-image: url("../../assets/images/chevron-left-solid.svg");
}

.carousel-control-next-icon {
    background-image: url("../../assets/images/chevron-right-solid.svg");
}

.carousel-indicators [data-bs-target] {
    background-color: black;
}

.first-banner { 
    background-color: aquamarine;
}

.second-banner { 
    background-color: blanchedalmond;
}

.third-banner {
    background-color: beige;
}