.text_link {
    font-size: 15px;
    text-align: right;
}

.signin_link {
    text-decoration: none;
    color: #2680eb;
}

.directory-div { 
    background-color: #f8f9fa;
  }
  
  .directory-text {
    font-size: 20px;
  }
  
  .directory_link {
    text-decoration: none;
    color: #3e7ba4
  }

  .signup-form {
    width: 50%;
    border: 2px solid black;
    border-radius: 20px;
    margin: 50px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
