@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.main_header {
    border-bottom: 2px solid #d2dadd;
}

.header { width: 80%; padding: 15px 0px; }

.menu_button { background-color: transparent; border: none; }
.menu_icon { height: 40px; }
.menu_text { margin-bottom: 0; }

.ncmh_logo, .ncmh_pharma { height: 100px; }

.ncmh_link { 
    margin: 0 30px;
    opacity: .9;
}

.ncmh_logo:hover, 
.ncmh_pharma:hover, 
.cart_icon:hover,
.signup_link_header,
.signin_link_header { 
    opacity: .8;
}


.search_bar { border: 1px solid black; border-radius: 10px;}
.search_input { 
    width: 25vw;
    height: 40px;
    background: transparent;
    border: 0px solid;
    font-family: 'Rubik', sans-serif;
}
.search_input:focus {
    outline: none;
}
.search_button { background: none; border: none}
.search_icon { height: 20px; margin-right: 5px;}

.signin_link_header, .signup_link_header {
    color: black;
    text-decoration: none;
    font-size: 18px!important;
    font-family: 'Rubik', sans-serif;
}
.hi {
    color: black;
    text-decoration: none;
    font-size: 18px!important;
    font-family: 'Rubik', sans-serif;
}
.signin_link_header:hover, .signup_link_header:hover {
    border-bottom: 2px solid green;
    font-weight: bold;

}
.dropdown-item:active {
    background-color: whitesmoke;
  }


.divider {
    height: 25px;
    border: 1px solid black;
    margin: 0px 10px
}

.cart_icon { height: 20px; }


