@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.directory-div { 
    background-color: #f8f9fa;
}
  
.directory-text {
    font-size: 20px;
}
  
.directory_link {
    text-decoration: none;
    color: #3e7ba4
}
  

.cart-div { margin-top: 25px;}
.cart-table, .cart-header, td, th {
  border: 1px solid black;
  text-align: center;
  font-family: 'Rubik', sans-serif;;
}
th { 
  height: 50px;
}
td { 
  height: 100px;
  width: 200px;
}

.product_image {
  height: 200px;
}