@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.prod_img {
    height: 200px;
}

.main-content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.item-container {
    display: flex;
    flex-direction: column;
}

.card-container{ 
    display: flex;
    align-items: center;
    text-align: center;
    padding: 5px;
    font-family: 'Rubik', sans-serif;
}  



.card { 
    margin: 0 auto;
    display: flex;
    width: 350px;
    height: 365px;
    border-radius: 0;
    border:none !important;
}

.card:hover { 
    cursor: pointer;
}

.card:hover .add_cart { 
    background-color: #008080;
    transition: .3s ease-in-out;
}


.item_name_container { 
    width: 80%;
    height: 60px;
    margin: 0px auto;
}

.item_name { 
    font-size: 18px;
}

.item_name:hover { 
    text-decoration: underline;
}


.item_details {
    display: flex;
    justify-content: center;
}


.add_cart { 
    position: absolute;
    bottom: 0px;
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    /* background-color: #008080; */
    font-weight: thin;
    color: white;
    border-radius: 0!important;
}


.add_cart:hover { 
    background-color: #014b4b!important;
    color: white;
}

.item_description_container { 
    font-size: 14px;
    width: 90%;
    height: 30%;
    margin: auto;
}

.prod_img { 
    height: 150px;
    margin: 40px 20px ;
}
.product_price { 
    font-size: 18px;
}

.card_link { 
    text-decoration: none;
}